/*----------- SETTINGS --------------*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;700&display=swap');

:root {
  /* fonts */
  --font: 'Merriweather Sans', sans-serif;
  font-family: var(--font);
  font-weight: 300;

  /* colors */
  --primary-color: #429E73;
  --primary-color__darkened: #307354;
  --secondary-color: #0D3024;
  --primary-white: #F1F9F5;
  --secondary-white: #D8F3DC;
  --primary-black: #04100C;
  --secondary-black: #374B4A;

  --small-font: 0.8rem;
  --large-font: 1.2rem;

  --transition-timing: all 0.5s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*----------- HEADER --------------*/
.main-header {
  width: 100%;
  height: 5rem;
  background: var(--secondary-color);
  display: flex;
  -webkit-box-shadow: inset 0 -10px 0 0 var(--primary-color);
  box-shadow: inset 0 -10px 0 0 var(--primary-color);
}

.main-header__page {
  margin: 1rem auto 0 auto;
  color: var(--primary-white);
  display: flex;
  align-items: center;
}

.main-header__login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
}

.main-header__login a {
  color: var(--primary-white);
  padding: 0.5rem;
  border-radius: 15%;
}

.main-header__login a:hover {
  transition: var(--transition-timing);
  background: var(--primary-color);
}

header #account {
  grid-column: 3;
  max-width: 50px;
  margin: 4px;
  padding-left: 4.5em;
}

/*----------- NAVIGATION --------------*/
.main-header__nav {
  display: none;
}

/*----------- BODY --------------*/
body {
  margin-bottom: 5.5rem;
}

.main {
  width: 96%;
  margin: 1rem auto;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 0;
  color: var(--secondary-color);
  background: var(--secondary-white);
  border: 1px solid var(--secondary-black);
  border-radius: 3px;
  cursor: pointer;
  transition: var(--transition-timing);
}

.btn:hover,
.btn:active {
  transition: var(--transition-timing);
  background-color: var(--secondary-color);
  color: var(--primary-white);
}

/*----------- FOOTER --------------*/
.main-footer__info {
  display: none;
}

/*----------- BTNBAR --------------*/
.main-buttonbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background: var(--secondary-color);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  -webkit-box-shadow: inset 0 10px 0 0 var(--primary-color);
  box-shadow: inset 0 10px 0 0 var(--primary-color);
}

.main-buttonbar i {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--primary-white);
  width: 1.5rem;
  padding: 1.5rem 2rem 0.5rem 2rem;
  border-radius: 0 0 5% 5%;
}

.main-buttonbar i:hover {
  transition: var(--transition-timing);
  background-color: var(--primary-color);
}

/*----------- LOGO --------------*/

.main-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  margin-right: 1rem;
}

.main-header__logo-text {
  display: none;
}

#t-rex {
  width: 6rem;
}

#t-rex-arm-2,
#t-rex-leg-2-4,
#t-rex-leg-2-3,
#t-rex-leg-2-2,
#t-rex-leg-2-1 {
  fill: var(--primary-color__darkened);
}

#t-rex-teeth-7,
#t-rex-teeth-6,
#t-rex-teeth-5,
#t-rex-teeth-4,
#t-rex-teeth-3,
#t-rex-teeth-2,
#t-rex-teeth-1,
#t-rex-eye-1 {
  fill: var(--primary-white);
}

#t-rex-eye-2 {
  fill: var(--secondary-black);
}

#t-rex-body-2 {
  fill: var(--secondary-white);
}

#t-rex-head-2,
#t-rex-head-1,
#t-rex-tail-2,
#t-rex-tail-1,
#t-rex-body-1,
#t-rex-arm-1,
#t-rex-leg-1-4,
#t-rex-leg-1-3,
#t-rex-leg-1-2,
#t-rex-leg-1-1 {
  /* clip-rule="evenodd" fill="rgb(77,145,64)" fill-rule="evenodd" stroke="none" stroke-width="1" stroke-linejoin="round" stroke-miterlimit="2" */
  fill: var(--primary-color);
}

/*----- HOME specific css -----*/
#Jscript,
#Noposts {
  color: red;
  font-size: var(--large-font);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}


#posts {
  margin: 10px;
}

#posts span {
  content: "";
  clear: both;
  display: table;
  box-shadow: 2px 5px 3px #d7d8d7;
  border-radius: 5px;
  margin: 5px;
}

#posts img {
  max-width: 14.75%;
  border-radius: 5px;
  float: left;
  margin-right: 5px;
  margin-top: 1.5em;
}

#center img {
  max-width: 80%;
}


/*Modal styling for images*/
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0.1)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/*----- LOGIN specific css -----*/
.login {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
  background: var(--secondary-white);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.login-form {
  margin: 1rem;
  display: block;
}

.newPassword {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;

}

.newPassword p {
  padding-bottom: 0.25rem;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border: none;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: var(--secondary-black);
}

.form-control input.invalid,
.form-control textarea.invalid {
  border-color: red;
}