<!DOCTYPE html>
<html lan="en-us">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Rex Chat | Home</title>
        <link rel="shortcut icon" type="image/svg" href="images/tyrannosaurus-rex.svg"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <script src="/js/main.js" type="module" ></script>
    </head>
    <body>
        <div class="content">
            <header class="main-header"><span id="Jscript">This page requires Javascript!</span></header>
            <main class="main">
            </main>
        </div>
        <footer class="main-footer"></footer>
    </body>
</html>