/*----------- MEDIA QUERIES --------------*/
@media only screen and (min-width: 35rem) {

  /* Food for thought our layout breaks at 47rem.
  /*----------- HEADER --------------*/
  .main-header__page {
    display: none;
  }

  .main-header__login {
    width: 8rem;
  }

  /*----------- NAVIGATION --------------*/
  .main-header__nav {
    margin-top: 2.5rem;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .main-header__list {
    list-style: none;
    display: flex;
    align-items: center;
  }

  .main-header__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
    /* padding: 0 1rem 0.5rem 0; */
  }

  .main-header__list-item a,
  #sidebar h2 {
    white-space: nowrap;
    background: transparent;
    border: none;
    text-decoration: none;
    color: var(--primary-white);
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5% 5% 0 0;
  }

  .main-header__list-item a:hover {
    transition: var(--transition-timing);
    background: var(--primary-color);
  }

  /*----------- BODY --------------*/
  body {
    margin: 0;
  }

  .main {
    min-height: calc(100vh - 12.95rem);
  }

  .content {
    min-height: calc(100vh - 5rem);
    display: grid;
    grid-template-columns: 9rem 1fr;
  }

  /*----------- FOOTER --------------*/
  .main-footer__info {
    position: relative;
    bottom: 0;
    width: 100%;
    background: var(--secondary-color);
    display: grid;
    -webkit-box-shadow: inset 0 10px 0 0 var(--primary-color);
    box-shadow: inset 0 10px 0 0 var(--primary-color);
    color: var(--primary-white);
    text-align: center;
  }

  .main-footer h3 {
    padding-top: 1rem;
  }

  .main-footer p {
    padding-bottom: 0.5rem;
  }

  .main-footer a {
    color: var(--primary-color);
  }

  /*----------- BTNBAR --------------*/
  .main-buttonbar {
    display: none;
  }

  /*----------- LOGO --------------*/

  .main-header__logo {
    width: 20rem;
  }

  .main-header__logo-text {
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    text-align: center;
  }

  .main-header__logo-text a {
    color: var(--primary-white);
    font-size: 27px;
  }

  .main-header__logo-text .highlight {
    color: var(--primary-color);
  }

  #t-rex {
    max-height: 50px;
  }

  /*----- HOME specific css -----*/
  .modal-content {
    width: 100%;
  }

  #center img {
    max-width: 35%;
  }

  /*----- SIDEBAR specific css -----*/
  #sidebar {
    background-color: var(--secondary-black);
    overflow-x: hidden;
    padding-top: 20px;
    display: inline;
    position: fixed;
    height: 100%;
    width: 9rem;
    top: 0rem;
    left: 0;
    z-index: 0;
  }

  #sidebar h2 {
    margin-top: 5rem;
  }

  #sidebar li {
    white-space: nowrap;
    border: none;
    text-decoration: none;
    color: var(--primary-white);
    padding: 0.5rem 1rem;
    /*border-radius: 0% 5% 5% 0%;*/
  }
}