<div class="main-footer__info">
    <h3>&copy;<span id="date"></span> Aaron Dunn, Samuel Witt, and Marvis Igbineweka</h3>
    <p>Icon credit goes to <a href ="https://fontawesome.com/">fontawsome.com</a></p>
    <h4>NOT a real website</h4>
</div>
<div class="main-buttonbar">
    <a href = "../index.html" id="home"><i class="fas fa-home fa-2x"></i></a>
    <a href = "../pages/groups.html" id="groups"><i class="far fa-comment-dots fa-2x"></i></a>
    <a href = "../pages/search.html" id="search"><i class="fas fa-search fa-2x"></i></a>
    <a href = "../pages/liked.html" id="liked"><i class="far fa-heart fa-2x"></i></a>
</div>